@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

html {
  font-family: "Noto Serif KR", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body {
  height: 100vh;
  color: rgb(255, 255, 255);
  font-family: "Noto Serif KR", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #dcdde1;
  transition: color 0.5s ease-in-out;
}

input,
button :focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.weather {
  position: absolute;
  left: 87%;
  top: 50px;
}

.clock {
  margin-bottom: 50px;
  font-size: 150px;
}

.nameInput {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: inherit;
}

.nameInput::placeholder,
.todoInput::placeholder {
  color: white;
  opacity: 80%;
}

.greetings {
  font-size: 30px;
  transition: color 0.5s ease-in-out;
  animation: fadeIn 0.5s linear;
}

.time {
  display: inline-block;
  margin-bottom: 10px;
}

.todoInput {
  display: inline-block;
  width: 400px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 18px;
  font-family: inherit;
  text-indent: 1em;
}

.todoList {
  height: 200px;
  margin-top: 30px;
  color: #3a3a3a;
  scrollbar-gutter: stable both-edges;
}

.todoList::-webkit-scrollbar {
  width: 10px;
}
.todoList::-webkit-scrollbar-thumb {
  background-color: rgb(241, 241, 243);
  border-radius: 10px;
}
.todoList::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.todoList li :not(:last-child) {
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: color 0.5s ease-in-out;
  animation: fadeIn 0.5s linear;
}

.todoList button {
  display: inline-block;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: transparent;
}

.spanRec {
  display: inline-block;
}

.greetings {
  margin-bottom: 30px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
