@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

body{
    background-color : #dcdde1;
    color : rgb(255, 255, 255);
    transition : color 0.5s ease-in-out;
    font-family : 'Old Standard TT', serif;
}

.weather{
    position : absolute;
    left : 90%;
    top : 20px;
    right : 10px;
}

.container{
    text-align : center;
    position : absolute;
    width : 100%;
    top : 50%;
    margin-top : -125px;
}

.clock{
    font-size : 150px;
}

.greetings{
    font-size : 30px;
}

.nameInput{
    background-color : transparent;
    border : none;
    font-size : 30px;
    text-align: center;
    color: white;
    font-family: inherit;
}

.nameInput::placeholder{
    color: white;
    opacity : 70%;
}

.nameLine{
    width: 450px;
    background-color : white;
    height: .5px;
    border: none;
    place-content: white;
}

.form :focus{
    outline: none;
}

.inputRec{
    position : relative;
    left : 50%;
    margin-top : 20px;
    margin-left: -100px;
    width : 200px;
    height : 23px;
    background-color : white;
    opacity : 50%;
    z-index : -1;
}

.todoInput{
    width : 180px;
    left : 50%;
    margin-left : -90px;
    margin-top : 3px;
    position : absolute;
    background-color : transparent;
    border : none;
    font-family: inherit;
}

.todoInput:focus {
    outline : none;
}

.spanRec{
    width : 200px;
    height: 25px;
    display : inline-block;
}

.todoList li{
    transition : color 0.5s ease-in-out;
    animation : fadeIn .5s linear;
}

.todoList button{
    background-color: transparent;
    border: none;
    font-size : 20px;
    font-weight: 300;
    color : white;
    cursor : pointer;
    display: inline-block;
}

.todoList button:focus {
    outline : none;
}

.form,
.greetings{
    display : none;
}

.showing{
    display : block;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.bgImage{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    z-index : -2;
    animation : fadeIn .5s linear;
}